# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.tsbuildinfo
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Env файл
.env

# Собраные JS файлы
public/bundle.js
public/bundle.js.map

# Собраные CSS файлы
public/bundle.css
public/bundle.css.map
