.task-board
  position: relative
  background-color: $color-board
  border-bottom: 1px solid $color-grey-light
  +shadow()

  &::before,
  &::after
    position: absolute
    content: ""
    height: 6px
    left: 50%
    transform: translateX(-50%)
    background-color: $color-board
    border-bottom: 1px solid $color-grey-light
    +shadow()

  &::before
    width: 99%
    bottom: -8px

  &::after
    width: 98%
    bottom: -15px
